.monitorlist {
  background-color: var(--color-bg);
  padding: 2px;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  /* width: 200px;
  margin-top: 5px; */
}

.monitorlist h3 {
  text-align: left;
  margin-bottom: 0.2px;
}

.monitorlist ul {
  list-style-type: none;
  padding: 0;
}

.monitorlist li {
  margin-bottom: 2px;
}

.monitorlist button {
  width: 100%;
  padding: 2px;
  /* background-color: #e6eaef;
  color: black; */
  border: none;
  border-radius: 2px;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

.monitorlist button:hover {
  background-color: var(--color-bg-hover);
}

